DEBUG=True

SECRET_KEY=super-secret-key

DB_NAME=vechile_rental_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# configure to connect frontend
CORS_ALLOWED_ORIGINS = [
    "localhost or prduction url",
]

ALLOWED_HOSTS = [
    "localhost",
]

CORS_ALLOW_CREDENTIALS = BOOLEAN